.boardContent{
    display: grid;
    grid-template-columns: repeat(10,20px) ;
    box-shadow: black 2px;
    padding: 10px;
}
.boardButton{
    border: none;
    margin: 1px;
    margin-top: 5px;
    text-align: center;
    font-size: small;
}
.boardButton:hover{
    color: white;
    background-color: rgb(61, 167, 67);
}
.MainContent-active{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}
.MainContent-inactive{
    display: none;
}
.timerDiv{
    display: flex;
    flex-direction: column;
    margin-left: 30px;              
}
.timerDiv .wordSection{
    margin-top: 10px;
    border-top: solid 1px gray;
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 15px;
}
.timerDiv .wordSection span{
    font-size: small;
}
.timerDiv span{
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}