#container {
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
    padding: 15px 20px 10px 20px;
    background-color: #fff;
    color: grey;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
    align-items: center;
    width: 650px;
    min-width: 450px;
    border-radius: 10px;
  }